# KNN From Scratch

In [294]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyplot
import seaborn as sns
%matplotlib inline

In [295]:
train_data = pd.read_csv(r'C:\PYTHON\machineLearning-from-scratch\classification\train.csv')
train_data.head()

,p_id,no_times_pregnant,glucose_concentration,blood_pressure,skin_fold_thickness,serum_insulin,bmi,diabetes pedigree,age,diabetes
0,316,2,112,68,22,94,34.1,0.315,26,0
1,25,11,143,94,33,146,36.6,0.254,51,1
2,710,2,93,64,32,160,38.0,0.674,23,1
3,658,1,120,80,48,200,38.9,1.162,41,0
4,542,3,128,72,25,190,32.4,0.549,27,1

In [296]:
test_data = pd.read_csv(r'C:\PYTHON\machineLearning-from-scratch\classification\test.csv')
test_data.head()

,p_id,no_times_pregnant,glucose_concentration,blood_pressure,skin_fold_thickness,serum_insulin,bmi,diabetes pedigree,age
0,437,12,140,85,33,0,37.4,0.244,41
1,411,6,102,90,39,0,35.7,0.674,28
2,639,7,97,76,32,91,40.9,0.871,32
3,213,7,179,95,31,0,34.2,0.164,60
4,181,6,87,80,0,0,23.2,0.084,32

# Visualization

In [297]:
#sns.pairplot(train_data)

In [298]:
train_data.describe()

,p_id,no_times_pregnant,glucose_concentration,blood_pressure,skin_fold_thickness,serum_insulin,bmi,diabetes pedigree,age,diabetes
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,385.773616,3.853420,120.542345,68.765472,20.244300,79.355049,31.909935,0.466342,33.325733,0.348534
std,223.603024,3.358126,31.252286,19.914836,15.886083,117.709950,8.007699,0.331090,11.929569,0.476895
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,191.250000,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.240250,24.000000,0.000000
50%,387.000000,3.000000,117.000000,72.000000,23.000000,17.000000,32.000000,0.361000,29.000000,0.000000
75%,572.750000,6.000000,139.000000,80.000000,32.000000,126.000000,36.600000,0.613500,41.000000,1.000000
max,768.000000,17.000000,197.000000,114.000000,63.000000,846.000000,59.400000,2.420000,81.000000,1.000000

In [299]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   p_id                   614 non-null    int64
 1   no_times_pregnant      614 non-null    int64
 2   glucose_concentration  614 non-null    int64
 3   blood_pressure         614 non-null    int64
 4   skin_fold_thickness    614 non-null    int64
 5   serum_insulin          614 non-null    int64
 6   bmi                    614 non-null    float64
 7   diabetes pedigree      614 non-null    float64
 8   age                    614 non-null    int64
 9   diabetes               614 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 48.1 KB

# K Nearest Neighbors

In [300]:
split = int(train_data.shape[0] * 0.8)
split

491

In [301]:
train_X = train_data[['glucose_concentration','blood_pressure']]
trainX = train_X[:split]
testX = train_X[split:]
testX

     glucose_concentration  blood_pressure
491                    137              61
492                    130              70
493                    130              96
494                    123              48
495                    152              78
..                     ...             ...
609                    189              60
610                     84              64
611                     92              52
612                    125              96
613                    124              74

[123 rows x 2 columns]

In [302]:
train_Y = train_data[['diabetes']]
trainY = train_Y[:split]
trainY
testY = train_Y[split:]
testY

     diabetes
491         0
492         0
493         0
494         0
495         1
..        ...
609         1
610         0
611         0
612         0
613         0

[123 rows x 1 columns]

In [303]:
testX = test_data[['glucose_concentration','blood_pressure']]

In [304]:

class KNNClassifier:
    def __init__(self, k=3):
        self.k = k
        self.k_Neighbors = None
    
    def fit(self, X:np.ndarray, y:np.ndarray):
        self.X = X
        self.y = y
        return True
    
    def predict(self, x:np.ndarray):
        self.predictions = []
        for test in x:
            distance_matrix = []
            for neighbors in range(len(self.X)):
                euclidian_distance = np.sqrt(np.sum(self.X[neighbors, :] - test)**2)
                distance_matrix.append(euclidian_distance)
            # print(distance_matrix)
            distance_matrix = np.array(distance_matrix)
            self.k_Neighbors = np.argsort(distance_matrix)[:self.k]
            votes = self.y[self.k_Neighbors]
            vote_counts = {}
            for label in votes:
                if label[0] in vote_counts.keys():
                    vote_counts[label[0]] += 1
                else:
                     vote_counts[label[0]] = 1 
            # print(vote_counts)
            majority = sorted(vote_counts.items(), key=lambda byVote:byVote[1])[-1][0]
            # print(majority)
            self.predictions.append(majority)
            # print(self.predictions)
        return np.array(self.predictions).reshape(len(self.predictions), 1)

# Model Evaluators

In [305]:
clf = KNNClassifier(k=9)
clf.fit(trainX.values,trainY.values)
yhat = clf.predict(testX.values)

In [306]:
testY.head()

     diabetes
491         0
492         0
493         0
494         0
495         1

In [307]:
def Jaccard_index(Y, yhat):
    total = len(Y)
    if not isinstance(Y, np.ndarray):
        Y = Y.values
    if not isinstance(yhat, np.ndarray):
        yhat = yhat.values
    correct_prediction = sum([1 if Y[index][0] == yhat[index][0] else 0 for index in range(total)])
    jaccard_index_score = (correct_prediction/((total+total)- correct_prediction))
    return round(jaccard_index_score, 4)

def F1_Score(Y, yhat):
    total = len(Y)
    f1_score = []
    if not isinstance(Y, np.ndarray):
        Y = Y.values
    if not isinstance(yhat, np.ndarray):
        yhat = yhat.values
    TP = 0; FN = 0; FP = 0;TN = 0
    for index in range(total):
        if Y[index][0] == yhat[index][0]:
            if Y[index][0] == 1:
                TP += 1
            else:
                TN += 1
        else:
            if yhat[index][0] == 1:
                FN += 1
            else:
                FP += 1
    precision_1 = TP/(TP+FP)
    recall_1 = TP/(TP+FN)
    f1_score.append((2*(precision_1*recall_1))/(precision_1+recall_1))
    precision_0 = TN/(TN+FN)
    recall_0 = TN/(TN+FP)
    f1_score.append((2*(precision_0*recall_0))/(precision_0+recall_0))
    return round((sum(f1_score)/len(f1_score)), 4)

In [308]:

Jaccard_index(testY, yhat)

0.4057

In [309]:
F1_Score(testY, yhat)

0.4895